{{- $creds := lookup "v1" "Secret" .Release.Namespace .Values.app.out -}}

{{- if not $creds }}
{{ fail "Required secret for outgoing s3 does not exist in the namespace" }}
{{- end }}

{{- $keycreds := lookup "v1" "Secret" .Release.Namespace .Values.app.encryptionKeySecret -}}

{{- if not $keycreds }}
{{ fail "Required secret for the encryption key does not exist in the namespace" }}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "encrypt.fullname" . }}-rclone
stringData:
  rclone.conf: |
    [real_s3]
    type = s3
    use_multipart_uploads = false
    provider = {{ .Values.app.out.provider }}
    access_key_id = {{ index $creds.data "accessKey" | b64dec }}
    secret_access_key = {{ index $creds.data "secretKey" | b64dec }}
    endpoint = {{ .Values.app.out.endpoint }}
    region = {{ .Values.app.out.region }}

    [fake_s3]
    type = crypt
    remote = real_s3:{{ .Values.app.out.bucket_and_prefix }}
    filename_encryption = standard
    directory_name_encryption = true
    password =  {{ index $keycreds.data "key" | b64dec }}
