{{- $creds := lookup "v1" "Secret" .Release.Namespace .Values.app.in.secret -}}

{{- if not $creds }}
{{ fail "Required secret for outgoing s3 does not exist in the namespace" }}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "encrypt.fullname" . }}
stringData:
  FAKE_REMOTE_ACCESS_KEY: {{ index $creds.data "accessKey" | b64dec }}
  FAKE_REMOTE_SECRET_KEY: {{ index $creds.data "secretKey" | b64dec }}
