---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backup
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 10Ti
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 2Ti
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 10Ti
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vault
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 300Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cephfs-migrator
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cephfs-migrator
  template:
    metadata:
      labels:
        app: cephfs-migrator
    spec:
      nodeSelector:
        kubernetes.io/hostname: de-stg1-01 # replace with the target node name
      containers:
        - name: migrator
          image: ubuntu:22.04
          command: ["/bin/bash", "-c", "sleep infinity"]
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: media
              mountPath: /mnt/media
            - name: nextcloud
              mountPath: /mnt/nextcloud
            - name: backup
              mountPath: /mnt/backup
            - name: vault
              mountPath: /mnt/vault
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: media
        - name: nextcloud
          persistentVolumeClaim:
            claimName: nextcloud
        - name: backup
          persistentVolumeClaim:
            claimName: backup
        - name: vault
          persistentVolumeClaim:
            claimName: vault
