apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  values:
    grafana:
      ingress:
        tls:
          - secretName: grafana-tls
            hosts:
              - grafana.men.sh
        hosts:
          - grafana.men.sh
