apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: podinfo
  namespace: podinfo
spec:
  values:
    ingress:
      tls:
        - secretName: podinfo-tls
      hosts:
        - host: podinfo.men.sh
          paths:
            - path: /
              pathType: Prefix
