---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
  namespace: default
spec:
  acme:
    # Replace the email address with your own contact email
    email: info@naegele.dev
    # The server is replaced in /clusters/production/infrastructure.yaml
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-traefik
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              key: token
              name: cloudflare-token
