---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
spec:
  releaseName: rook-ceph-cluster
  chart:
    spec:
      chart: rook-ceph-cluster
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
  interval: 50m
  install:
    remediation:
      retries: 3
  values:
    clusterName: default
    toolbox:
      enabled: true
    monitoring:
      enabled: true
    cephClusterSpec:
      mon:
        count: 1
      mgr:
        count: 1
    ingress:
      dashboard:
        enabled: true
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
        tls:
          - secretName: weave-tls
            hosts:
              - ceph.men.sh
        hosts:
          - host: ceph.men.sh
            paths:
              - path: /
                pathType: Prefix
