---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: test-cluster
  namespace: rook-ceph
spec:
  releaseName: test-cluster
  chart:
    spec:
      chart: rook-ceph-cluster
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
  interval: 50m
  install:
    remediation:
      retries: 3
  values:
    clusterName: test-cluster
    toolbox:
      enabled: true
    monitoring:
      enabled: true

    cephClusterSpec:
      dashboard:
        enabled: true
      resources:
        mgr:
          limits:
            memory: "4Gi"
          requests:
            cpu: "100m"
            memory: "128Mi"
        mds:
          limits:
            memory: "4Gi"
          requests:
            cpu: "100m"
            memory: "128Mi"
        mon:
          limits:
            memory: "4Gi"
          requests:
            cpu: "100m"
            memory: "128Mi"
        osd:
          limits:
            memory: "4Gi"
          requests:
            cpu: "100m"
            memory: "128Mi"
      mon:
        count: 1
      mgr:
        count: 1
    ingress:
      dashboard:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
        tls:
          - secretName: rook-tls
            hosts:
              - ceph.men.sh
        hosts:
          - host: ceph.men.sh
            paths:
              - path: /
                pathType: Prefix
    cephBlockPools: []
    cephObjectStores: []
    cephFileSystems:
      - name: ceph-filesystem
        # see https://github.com/rook/rook/blob/master/Documentation/CRDs/Shared-Filesystem/ceph-filesystem-crd.md#filesystem-settings for available configuration

        storageClass:
          enabled: true
          isDefault: true
          name: filesystem
        spec:
          metadataPool:
            replicated:
              size: 1
          dataPools:
            - failureDomain: host
              replicated:
                size: 1
              # Optional and highly recommended, 'data0' by default, see https://github.com/rook/rook/blob/master/Documentation/CRDs/Shared-Filesystem/ceph-filesystem-crd.md#pools
              name: data0
          metadataServer:
            activeCount: 1
            activeStandby: true
            priorityClassName: system-cluster-critical
            resources:
              limits:
                memory: "4Gi"
              requests:
                cpu: "100m"
                memory: "128Mi"
