---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    entryPoints:
      web:
        address: ":80"
      websecure:
        address: ":443"
      acme:
        address: ":8080"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: default
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    ingressclass.kubernetes.io/is-default-class: true
spec:
  controller: traefik.io/ingress-controller
